#!/usr/bin/env bash

#alias ise=sh -c "unset LANG && unset QT_PLUGIN_PATH && source /opt/Xilinx/14.7/ISE_DS/settings64.sh && ise"
#alias sha='/home/jakub/Documents/scripts/sha.sh'
#alias backup='/home/jakub/Documents/scripts/backup.sh'
#alias ubackup='/home/jakub/Documents/scripts/ubackup.sh'
#alias zbarcam='LD_PRELOAD=/usr/lib/libv4l/v4l1compat.so zbarcam'

# Python
alias ipy='ipython --no-banner'
alias ipyn='ipython notebook'

# File listing
alias ls='ls -v --color=tty'
alias ll='ls -1lF --si'
alias la='ls -1lAF --si'
alias lr='ls -tRF --si'
alias lt='ls -1ltF --si'
alias l='ll'
alias sl='ls'

alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias more=less
#alias matlab='/usr/local/MATLAB/R2017a/bin/matlab'

# VPN helpers
alias svpn='sudo surfshark-vpn'
alias ssvpn='yes | sudo surfshark-vpn attack'
# open(){
#   nautilus $@ >/dev/null 2>&1 &
# }
#
alias open='nautilus . &'

# Swap File helpers
alias swon='sudo swapon -a'
alias swoff='sudo swapoff -a'


#BTRFS
#
alias cp='cp -i --reflink=auto '

alias bdu='btrfs fi du --si -s'
alias bdf='btrfs fi usage --si -T'
alias bss='sudo btrfs sub show'
alias bls='sudo btrfs sub list'
alias bcs='sudo compsize -x'

alias snaphome='snapper -c home'
alias snapls='snapper -c home list --columns number,type,pre-number,date'

alias dus='du -sch $(ls -A) | sort -h'

# RSYNC
alias rs='rsync -ahPX --stats --info=progress2'

# Docker stuff
alias metavision_studio='xhost "+local:*"; docker run -it  --privileged  -v /dev/bus/usb:/dev/bus/usb -e DISPLAY=$DISPLAY -v /home/$USER/.Xauthority:/home/$USER/.Xauthority -v /tmp/.X11-unix/:/tmp/.X11-unix/ -v $(pwd):/home/$USER/metavision -v /home/$USER/.config/Metavision\ Studio:/home/$USER/.config/Metavision\ Studio -e GDK_SCALE=0.5 --rm --net=host --shm-size 100000000000 metavisionsdk22_${USER} /bin/bash -c "metavision_studio; while /usr/bin/pgrep metavision >/dev/null; do sleep 1; done"'

#Ros Docker

alias rviz='docker run -it --rm --privileged --net=host -e DISPLAY=$DISPLAY -v "/tmp/.X11-unix:/tmp/.X11-unix:rw" -v "$(pwd):/data" -v /home/$USER/.Xauthority:/root/.Xauthority --ulimit nofile=1024:524288 -w /data osrf/ros:noetic-desktop rviz'
alias rosbash='docker run -it --rm --privileged  --net=host -e DISPLAY=$DISPLAY -v "/tmp/.X11-unix:/tmp/.X11-unix:rw" -v "$(pwd):/data" --ulimit nofile=1024:524288 -w /data osrf/ros:noetic-desktop bash'
alias roscore='docker run -it --rm --net=host --ulimit nofile=1024:524288 osrf/ros:noetic-desktop roscore'

alias rviz2='docker run -it --rm --privileged --ipc=host --net=host -e DISPLAY=$DISPLAY -v "/tmp/.X11-unix:/tmp/.X11-unix:rw" -v /home/$USER/.Xauthority:/root/.Xauthority -v /dev/shm:/dev/shm -v "$(pwd):/data" --ulimit nofile=1024:524288 -w /data osrf/ros:humble-desktop rviz2'
alias rosbash2='docker run -it --rm --privileged --ipc=host --net=host -e DISPLAY=$DISPLAY -v "/tmp/.X11-unix:/tmp/.X11-unix:rw" -v /dev/shm:/dev/shm -v "$(pwd):/data" --ulimit nofile=1024:524288 -w /data osrf/ros:humble-desktop-full bash'


alias pac=yay
alias sub=subl3
alias sc='systemctl'
alias ssc='sudo systemctl'
alias sudo='sudo '
alias diff=colordiff
alias mytools='pygmentize -O style=native $HOME/Documents/Personal/Cheatsheets/commands/1_my_tools.md'
alias mt=mytools



#if [ "$TMUX" = "" -a $TERM != "screen" ]; then tmux; fi
alias dotfiles='cd $DOTFILES_DIR'

alias em="emacsclient -nw -c -a 'emacs' --frame-parameters='((fullscreen . maximized))'"

#alias chatgpt='chatgpt --model gpt-4o-mini-2024-07-18'
alias gpt='$HOME/.conda/envs/gpt-cli/bin/gpt'

alias work.sh="$HOME/.screenlayout/Work.sh"


alias bkup='$HOME/Documents/scripts/backup/backup.sh'


exists() { command -v "$1" &>/dev/null; }
# Alias a command to run nicely.
nicealias() {
  if exists "$1"; then
    # shellcheck disable=2139,2140
    alias "$1"="nice $1"
  fi
}

# Automatically run these commands nicely.
nicealias bazel
nicealias bzip2
nicealias fedpkg
nicealias gzip
nicealias make
nicealias mock
nicealias rpmbuild
nicealias xz
nicealias ffmpeg

alias yay='nice yay --sudoloop'

# Clipboard
alias c='xclip -selection clipboard'
alias v='xclip -o -selection clipboard'

