#!/usr/bin/env bash

# NVIM
export PATH="$PATH:/opt/nvim/bin"

# Add more locations to path
# If you come from bash you might have to change your $PATH.
export PATH=$HOME/.config/emacs/bin:$PATH
export PATH=$DOTFILES_DIR/bin:$PATH
export PATH="/opt/nvim-linux-x86_64/bin:$PATH"
export PATH=$PATH:$HOME/git/openeb/build/bin
export PATH=$PATH:/opt/stm32cubeclt/STLink-gdb-server/bin
export PATH=$HOME/.local/bin:$PATH


#

export QT_QPA_PLATFORM='xcb'
export CRYPTOGRAPHY_OPENSSL_NO_LEGACY=1
export USER_ID=`id -u`
export USERNAME=`whoami`
export GROUP_ID=`id -g`

export LANGUAGE=en_US.UTF-8
export LANG=en_US.UTF-8
export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

export LD_LIBRARY_PATH=LD_LIBRARY_PATH:/usr/local/lib


# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';
